[Unit]
Description=Service MMS IEC61850 vers VictoriaMetrics
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/root/po
ExecStart=/usr/bin/python3 /root/po/mms_service.py --victoriametrics-url=http://192.168.165.3:8428
Restart=always
RestartSec=5
User=root
Group=root
NoNewPrivileges=true
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

