[Unit]
Description=Service unifié PO (MMS, GOOSE, SV) sur port 7050
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/root/po
ExecStart=/usr/bin/python3 /root/po/po_service.py --victoriametrics-url=http://192.168.165.3:8428
Restart=always
RestartSec=5
User=root
Group=root
NoNewPrivileges=true
KillMode=process
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
